@import "variables";
@import "bootstrap/scss/bootstrap";

// Global Form Reset: Hide ugly up/down arrows on numeric inputs
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
